# Visual Studio files

.vs/

*.suo

*.user

*.sln.docstates

bin/

obj/

# Build results

[Dd]ebug/

[Rr]elease/

# Visual Studio code coverage files

*.coverage

*.coveragexml

*.opencover

# Packages

*.nupkg

*.snupkg

*.dotnettools/*.nupkg

# MSTest test Results

TestResults/

# StyleCop

StyleCopReport.xml
